/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


/* HTML: <div class="loader"></div> */
.loader {

  transform: translate(50vw, 10vh);
  --s: 40px;
  --g: 5px;

  height: calc(2*(var(--s) + var(--g)));
  aspect-ratio: 1;
  background:
    radial-gradient(calc(var(--s)/sqrt(2)) at calc(50% - .1*var(--s)) calc(50% - .2*var(--s)), #0000 5%, 60%, #111 98%),
    linear-gradient(#FE4365 0 0) no-repeat #fff;
  background-size: 50% 50%;
  mask: radial-gradient(calc(var(--s)/2), #000 calc(100% - 1px), #0000) 0 0/50% 50%;
  animation: l12 steps(3) 1.5s infinite;
}

@keyframes l12 {

  0%,
  12.5% {
    background-position: 0 0
  }

  12.6%,
  37.5% {
    background-position: 0 0, 100% 0
  }

  37.6%,
  62.5% {
    background-position: 0 0, 100% 100%
  }

  62.6%,
  87.5% {
    background-position: 0 0, 0 100%
  }

  87.6%,
  100% {
    background-position: 0 0
  }
}


/* Responsive menu */

.ham-menu {
  display: none;
}

.menu-web ul {
  display: flex;
  justify-content: space-around;
  gap: 2rem
}

li {
  list-style: none;
}

@media screen and (max-width: 998px) {
  .menu-web {
    display: none;
  }

  .ham-menu {
    display: flex;
    justify-content: flex-end;
  }

  .menu-mobile {
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: #111010;
    width: 100%;
    box-shadow: rgba(190, 176, 176, 0.25) 0px 14px 28px;
  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}